name: Sync All Self-Hosted Images

on:
  workflow_dispatch: # 手动触发更新
  schedule:
    - cron: '0 0 * * 1' # 每周一凌晨自动检查更新一次

jobs:
  sync-job:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Sync Process
        run: |
          images=(
            "xhofe/alist:latest"
            "ghcr.io/imputnet/cobalt:latest"
            "alexta69/metube:latest"
            "n8nio/n8n:latest"
            "vaultwarden/server:latest"
            "linuxserver/heimdall:latest"
            "louislam/uptime-kuma:latest"
            "stirlingtools/stirling-pdf:latest"
            "nextcloud:latest"
            "filebrowser/filebrowser:latest"
            "frooodle/leantime:latest"
            "wallos/wallos:latest"
            "akaunting/akaunting:latest"
            "blinko/blinko:latest"
            "changedetection-io/changedetection.io:latest"
            "chatwoot/chatwoot:latest"
            "crowdsecurity/crowdsec:latest"
            "debian:latest"
            "docuseal/docuseal:latest"
            "dolibarr/dolibarr:latest"
            "amir20/dozzle:latest"
            "duplicacy/duplicacy:latest"
            "espocrm/espocrm:latest"
            "grafana/grafana:latest"
            "kodcloud/kodbox:latest"
            "libretranslate/libretranslate:latest"
            "hardware/mailserver:latest"
            "matomo:latest"
            "mautic/mautic:latest"
            "metabase/metabase:latest"
            "ntfy/ntfy:latest"
            "odoo:latest"
            "onlyoffice/documentserver:latest"
            "snipe/snipe-it:latest"
          )

          for img in "${images[@]}"; do
            echo "开始搬运: $img"
            
            # 智能提取镜像短名
            if [[ $img == *"/"* ]]; then
              raw_name=$(echo $img | awk -F'/' '{print $NF}' | cut -d':' -f1)
            else
              raw_name=$(echo $img | cut -d':' -f1)
            fi
            
            tag=$(echo $img | cut -d':' -f2)
            target="ghcr.io/${{ github.repository_owner }}/my-${raw_name}:${tag}"
            
            # 执行拉取、打标、推送，失败则跳过继续下一个
            docker pull $img && \
            docker tag $img $target && \
            docker push $target || echo "跳过失败镜像: $img"
            
            echo "------------------------------"
          done
